body { 
  background: url(../img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {overflow-y: scroll;}

.container { 
    margin: 90px auto; 
    padding: 40px 40px; 
    background: #778899; 
    -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px black; 
    box-shadow: 0 0 20px black; 
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#container1
{
	clear:both;
	width:80%;
	float:left;
	display:block;
	background-color:Pink;

}
#wikihead
{
	background-color:Yellow;
	clear:both;
	height:50px;
	width:80%;
	margin:auto;
}
#wikidiv
{
	padding:5px;
	clear:both;
	margin:auto;
	height:200px;
	width:80%;
}
#wikidiv1

{  
	float:left;
	margin:5px;
	width:49%;
	height:100%;
	background-color:white;
	overflow: scroll;
	text-align: justify;
}	

#description

{  
	margin:5px;
	padding: 5px;
	background-color:white;
	
}



#map {
  float: right;
  width: 49%;
  height: 100%;
  margin: 5px;
}



#newshead
{
	clear:both;
	margin:auto;
	height:50px;
	width:80%;
	background-color:Yellow;
}
#newsdiv{
	padding:5px;
	clear:both;
	margin:auto;
	height:500px;
	width:80%;
}
#newsdivtop
{  
	padding:5px;
	margin:auto;
	height:50%;
	width:100%;
	
}
#newsdivtop1
{
	clear:both;
	float:left;
	margin:auto;
	margin:5px;
	width:32%;
	height:100%;
	background-color:Pink;
	overflow: scroll;
	text-align: justify;
}
#newsdivtop2
{
	margin:auto;
	margin:5px;
	float:left;
	width:32%;
	height:100%;
	background-color:Red;
}
#newsdivtop3
{
	margin:auto;
	margin:5px;
	float:left;
	width:32%;
	height:100%;
	background-color:Grey;
	
}
#newsdivbot
{
	clear:both;
	padding:5px;
	margin:auto;
	height:50%;
	width:100%;
}
#newsdivbot1{
	float:left;
	margin:auto;
	margin:5px;
	width:32%;
	height:100%;
	background-color:Grey;
}
#newsdivbot2
{
	float:left;
	margin:auto;
	margin:5px;
	width:32%;
	height:100%;
	background-color:Blue;
}
#newsdivbot3
{
	float:left;
	margin:auto;
	margin:5px;
	width:32%;
	height:100%;
	background-color:Red;
}
#mediahead
{
	clear:both;
	margin:auto;
	height:50px;
	width:80%;
	background-color:Yellow;
}
#mediadiv
{
	padding:5px;
	clear:both;
	margin:auto;
	height:500px;
	width:80%;
}

#mediadivtop
{
	padding:5px;
	margin:auto;
	height:50%;
	width:100%;
}
#mediadivtop1
{
	float:left;
	margin:5px;
	width:70%;
	height:auto%;
	background-color:Pink;
}

