ul.videos li {
	float: left;
	width: 10em;
	margin-bottom: 1em;
}

ul.videos {
	margin-bottom: 1em;
	padding-left : 0em;
	margin-left: 0em;
	list-style: none;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}