<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_0/suggest.min.css" />
    <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_0/suggest.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fancybox.js?v=2.1.3"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.fancybox.css?v=2.1.2" media="screen" />
    <script type="text/javascript" src="../static/js/jquery.fancybox-media.js?v=1.0.5"></script>

    <title>Socially</title>
    <!-- Bootstrap -->

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/index.css" rel="stylesheet" media="screen">
  </head>  
  <body>
        <div class="container">
            <fieldset>
              <input type="text" class="input-xlarge search-query" id="myinput" placeholder="Search for University">
                  <script type="text/javascript">
                        $("#myinput")
                        .suggest({
                          "key": "AIzaSyDYGo8Upb6LpIa-EHvAi2w44lhLkAK538w",
                          filter: '(all type:/education/university)'
                        })
                        .bind("fb-select", function(e, data) {
                          //alert(data.name);
                        });
                  </script>
              <input type="button" class="btn" value="Search" id="showResults">
              <!-- <button type="submit" class="btn" onclick="codeAddress()">Search</button> -->
            </fieldset>
        </div>
        <div id="contents" style="display: none">
          <div id="wikihead"><h2><span>W</span>iki <strong>&amp;</strong><em> Trivia </em></h2></div>
          <div id="wikidiv">
              <div id="wikidiv1"></div>
              <div id="wikidiv2"></div>
          </div>
          <div id="newshead"></div>
          <div id="newsdiv">
              <div id="newsdivtop">
                <div id="newsdivtop1">
                  <h3>Google News</h3>
                     <ul id="googlenews"></ul>
                </div>
                <div id="newsdivtop2">
                  <h3>Bing News</h3>
                    <ul id="bing"></ul>
                </div>
                <div id="newsdivtop3">
                  <h3>NY Times </h3>
                    <ul id="nytimes"></ul>
                </div>
                
              </div>
        
            <div id="newsdivbot">
              <div id="newsdivbot1"></div><!-- youtube videos-->
              <div id="newsdivbot2"> <h3> Comments</h3>
                    <ul id="comments"></ul>
                  </div>
            </div>

          </div>

          <div id="mediahead"><h2><span>S</span>ocial<em> Media </em></h2></div>
          <div id="mediadiv">
              <div id="mediadivtop">
                <div id="mediadivtop1" >
                 <ul></ul>
                </div>
                <div id="mediadivtop2">
                    <h3>Twitter feed</h3>
                <ul id="twitter"> <ul>
                 
                </div>
                <div id="mediadivtop3"></div>
              </div>
          </div>
      </div>

    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>